<p><strong>Note:</strong> Swiper for Emberjs seems to have a bug/require additional setup. Zoom in/out to see the coverflow effect meanwhile.</p> 
{{#swiper-container effect='coverflow' keyboard=true mousewheel=true slidesPerView=3 centeredSlides=true initialSlide=1 resistance='false'}}
    {{#each list as |reference|}}
    	{{#swiper-slide}}
		<a target='_blank' href="{{reference.link}}" title="open book">
		<div class="image {{if isWide "wide"}}" >
		<img src="{{reference.image}}" alt="Book-image">
		</div>
		</a>
		-------
    	{{/swiper-slide}}
    {{/each}}
{{/swiper-container}}
{{yield}}
