<div class="jumbo">
<h1>About iBib</h1>
<p> Simple webapp to list/show your pdf books/library
</p>
<p>Written by MA Santos
</p>
<p> License Public Domain
</p>
{{#link-to "index" class="button menu-button-index"}}
Back to main page
{{/link-to}}
</div>
